<h2>Update your Manga below:</h2>

<h3><%=@manga.title%></h3>

<form method='POST' action='/mangas/<%=@manga.id%>' >
<input type='hidden' name='_method'value='PATCH'/>
<p>Title: <input type='text' name='manga[title]' value='<%=@manga.title%>'></p>
<p>Year released: <input type='text' name='manga[year]' value='<%=@manga.year%>'></p>
<p>Age Rating: <input type='text' name='manga[rating]' value='<%=@manga.rating%>'></p>
<p>Genre: <input type="text" name="genre[name]" value='<%=@manga.genre.name%>'></p>
<p>Creator: <input type="text" name="creator[name]" value='<%=@manga.creator.name%>'></p>
<input type='Submit' value='Update Manga' id='submit'>
</form>
