<h2><%=@manga.title%></h2>

<h4>Year released: <%=@manga.year%>
<h4>Rating: <%=@manga.rating%>

<% if @manga.creator %>
    <h4>Creator: <%=@manga.creator.name%></h4>
<% else %>
    <h4>Creator: N/A</h4>
<% end %>

<% if @manga.genre %>
    <h4>Genre: <%=@manga.genre.name%></h4>
<% else %>
    <h4>Genre N/A</h4>
<% end %>





<% if @manga.user == current_user %>
    <a href='/mangas/<%=@manga.id%>/edit'>Update Manga</a>
<% end %>

<% if @manga.user == current_user %>
<form method="POST" action="/mangas/<%=@manga.id%>">
<input type="hidden" name="_method" value="DELETE"  />
<input type="submit" value="Delete Manga" />
</form>
<% end %>





