<h2><%=@manga.title%></h2>

<% if @manga.creator %>
    <h3>Creator: <%=@manga.creator.name%><h3>
<% else %>
    <h3>Creator: N/A</h3>
<% end %>


<% if @manga.genre %>
    <h3>Genre: <%=@manga.genre.name%><h3>
<% else %>
    <h3>Genre N/A</h3>
<% end %>






<a href='/mangas/<%=@manga.id%>/edit'>Update Manga</a>


<form method="POST" action="/mangas/<%=@manga.id%>">
<input type="hidden" name="_method" value="DELETE"  />
<input type="submit" value="Delete Manga" />
</form>





